body {
    background-color: rgb(226, 187, 101);
  }

  .greet {
    background-color: rgb(21, 102, 102);
    border: 1px solid;
    margin-bottom: 1em;
    padding: 1em;
    width: 75em;
    border-radius: 0.25em;
    display: inline-block;
    padding: 0.5em
  
  }

  .wordgame {
    background-color:rgb(15, 91, 91);
    border: 1px solid;
    margin-bottom: 1em;
    padding: 1em;
    width: 75em;
    border-radius: 0.25em;
    display: inline-block;
    padding: 0.5em
    
  }
  
   
  

  .phonebill {
  
    border: 1px solid;
    margin-bottom: 1em;
    padding: 1em;
    width: 75em;
    border-radius: 0.25em;
    display: inline-block;
    padding: 0.5em;
    background-color: rgb(12, 70, 70);
}

button {
  background-color: grey;
  padding: 2px 4px;
  text-align: center;
  border-radius: 8px;
}

.button {
  background-color: grey;
  padding: 2px 4px;
  text-align: center;
  border-radius: 8px;
}